<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" name="nombre" [class.is-invalid]="nombre.invalid && nombre.touched" [ngModel]="usuario.nombre" required minlength="2" #nombre="ngModel">
                <small class="form-text text-danger" *ngIf="nombre.invalid && nombre.touched"> ingrese 2 letras</small>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" name="apellido" [class.is-invalid]="apellido.invalid && apellido.touched" [ngModel]="usuario.apellido" #apellido="ngModel" required minlength="2">
                <small class="form-text text-danger" *ngIf="apellido.invalid && apellido.touched"> ingrese 2 letras</small>

            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [class.is-invalid]="correo.invalid && correo.touched" [ngModel]="usuario.correo" name="correo" #correo="ngModel" required>
            <small class="form-text text-danger" *ngIf="correo.invalid && correo.touched"> ingrese un correo valido</small>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">País</label>
        <div class="col-8">

            <select class="form-control" name="pais" [disabled]="paises.length === 0" [class.is-invalid]="pais.invalid && pais.touched" [ngModel]="usuario.pais" required #pais="ngModel">

            <option 
                *ngFor="let pais of paises"
                [value]="pais.codigo"></option>
            </select>
            <small class="form-text text-danger" *ngIf="pais.invalid && pais.touched"> ingrese un país valido</small>

        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Género</label>
        <div class="col-8">

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="M" [class.is-invalid]="genero.invalid && genero.touched" [ngModel]="usuario.genero" name="genero" required #genero="ngModel">
                <label class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="F" [class.is-invalid]="genero.invalid && genero.touched" [ngModel]="usuario.genero" name="genero" required #genero="ngModel">
                <label class="form-check-label">Femenino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="Other" [class.is-invalid]="genero.invalid && genero.touched" [ngModel]="usuario.genero" name="genero" required #genero="ngModel">
                <label class="form-check-label">Otro</label>
            </div>
            <small class="form-text text-danger" *ngIf="genero.invalid && genero.touched"> Seleccione una opción</small>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>